<VirtualHost *:80>
    ServerAdmin {{ apache2_vhost_server_admin }}

    {% if apache2_vhost_rewrite_engine_enabled %}
    RewriteEngine on
    RewriteRule ^/(.*) {{ apache2_vhost_rewrite_rule_target }}
    {% endif %}
    {% if not apache2_vhost_rewrite_engine_enabled %}
    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}
    {% endif %}

</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ apache2_vhost_server_admin }}

    SSLEngine on
    SSLCertificateFile  {{ apache2_vhost_ssl_certificate_file }}
    SSLCertificateKeyFile {{ apache2_vhost_ssl_certificate_key_file }}
    {% if apache2_vhost_ssl_certificate_chain_file != '' %}
    SSLCertificateChainFile {{ apache2_vhost_ssl_certificate_chain_file }}
    {% endif %}

    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}
</VirtualHost>
