<VirtualHost *:80>
    ServerAdmin {{ apache2_vhost_server_admin }}

{% if apache2_vhost_rewrite_engine_enabled %}
    RewriteEngine on
    RewriteRule ^/(.*) {{ apache2_vhost_rewrite_rule_target }}
{% endif %}
{% if not apache2_vhost_rewrite_engine_enabled %}
    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}
{% endif %}

</VirtualHost>

<VirtualHost *:443>
    ServerAdmin {{ apache2_vhost_server_admin }}

    SSLEngine on
    SSLCertificateFile  {{ apache2_vhost_ssl_certificate_file }}
    SSLCertificateKeyFile {{ apache2_vhost_ssl_certificate_key_file }}
{% if apache2_vhost_ssl_certificate_chain_file != '' %}
    SSLCertificateChainFile {{ apache2_vhost_ssl_certificate_chain_file }}
{% endif %}

    IncludeOptional sites-enabled/easydb5/include-before/*.conf

{% if apache2_vhost_hotfolder_enabled %}
    AliasMatch ^/upload(.*)$ {{ apache2_vhost_hotfolder_fs_path }}$1
    <Location /upload>
        ProxyPass "!"
        <LimitExcept POST PUT DELETE MKCOL COPY MOVE>
            Require all granted
        </Limit>
        <Limit POST PUT DELETE MKCOL COPY MOVE>
            Require all denied
        </Limit>
        DAV on
        Options -MultiViews
        ErrorDocument 404 "Not Found"
        ErrorDocument 500 "Internal Server Error"
        ErrorDocument 502 "Bad Gateway"
    </Location>
    <Location /upload/collection/?*/?*/?*>
        ProxyPass "!"
        Require all granted
        DAV on
        Options -MultiViews
        ErrorDocument 404 "Not Found"
        ErrorDocument 500 "Internal Server Error"
        ErrorDocument 502 "Bad Gateway"
    </Location>
{% endif %}

    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}

    IncludeOptional sites-enabled/easydb5/include-after/*.conf

</VirtualHost>
