<VirtualHost *:{{ apache2_vhost_http_port }}>
    ServerAdmin {{ apache2_vhost_server_admin }}

    IncludeOptional sites-enabled/easydb5/include-before/*.conf

    {% if apache2_vhost_hotfolder_enabled %}
    AliasMatch ^/upload(.*)$ {{ apache2_vhost_hotfolder_fs_path }}$1
    <Location /upload>
        ProxyPass "!"
        <LimitExcept POST PUT DELETE MKCOL COPY MOVE>
            Require all granted
        </LimitExcept>
        <Limit POST PUT DELETE MKCOL COPY MOVE>
            Require all denied
        </Limit>
        DAV on
        Options -MultiViews
        ErrorDocument 404 "Not Found"
        ErrorDocument 500 "Internal Server Error"
        ErrorDocument 502 "Bad Gateway"
    </Location>
    <LocationMatch /upload/collection/[^/]+/[^/]+/.*>
        Require all granted
        DAV on
        Options -MultiViews
        ErrorDocument 404 "Not Found"
        ErrorDocument 500 "Internal Server Error"
        ErrorDocument 502 "Bad Gateway"
    </LocationMatch>
    {% endif %}

    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}

    IncludeOptional sites-enabled/easydb5/include-after/*.conf

</VirtualHost>
