<VirtualHost *:80>
    ServerAdmin {{ apache2_vhost_server_admin }}

    {% if apache2_vhost_hotfolder_enabled %}
    AliasMatch ^/upload(.*)$ {{ apache2_vhost_hotfolder_fs_path }}$1
    <Location /upload>
        ProxyPass "!"
        Require all granted
        DAV on
        Options -MultiViews
        ErrorDocument 404 "Not Found"
        ErrorDocument 500 "Internal Server Error"
        ErrorDocument 502 "Bad Gateway"
    </Location>
    {% endif %}

    ProxyPass / {{ apache2_vhost_proxy_url }}
    ProxyPassReverse / {{ apache2_vhost_proxy_url }}
</VirtualHost>
